
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
<p></p>
<div class="container">
    <table id="data-table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Ticket Subject</th>
                <th>Ticket Created Date</th>
            </tr>
        </thead>
    </table>

</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ticket Info</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="subject">Subject:</label>
                    <label id="subject" style="color: red"></label>
                </div>
                <div class="form-group">
                    <label for="assetSrNo">Asset Sr No:</label>
                    <div id="bloodhound">
                        <input "form-control" id="txtAssetSearch" autocomplete="off" type="text" placeholder="Search Asset">
                    </div>
                </div>
                <div>
                    <table id="assetInfo" class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Asset Name</th>
                                <th>Barcode</th>
                                <th>Brand</th>
                                <th>Categoryr</th>
                                <th>Department</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" value="" id="btnSave" class="btn btn-default">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script type="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js">
    </script>
    <script type="text/javascript" src="http://cdn.rawgit.com/bassjobsen/Bootstrap-3-Typeahead/master/bootstrap3-typeahead.min.js"></script>
    <script>
        $(function () {
            $('#txtAssetSearch').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
                , source: function (request, response) {
                    $.ajax({
                        url: 'https://dev.dragapp.com/v1.18/DragFeatures',
                        //data: "{ 'prefix': '" + request + "'}",
                        dataType: "json",
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            items = [];
                            map = {};
                            $.each(data, function (i, item) {
                                var id = item.Description;
                                var name = item.FeatureCode;
                                map[name] = { id: id, name: name };
                                items.push(name);
                            });
                            response(items);
                            $(".dropdown-menu").css("height", "auto");
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                updater: function (item) {
                    console.log(item);
                    // $('[id*=hfCustomerId]').val(map[item].id);
                    return item;
                }
            });
        });




        $(document).on("click", ".open-Model", function () {
            var subject = $(this).data('subject');
            $(".modal-content #subject")[0].innerHTML = subject
        });

        $(document).on("click", "#btnSave", function () {
            console.log("result");
            var postData = { customfields: [{ "code": "AssetID", "value": "asdf" }] };
            $.post("https://sinnoxkw.ladesk.com/api/conversations/090845c2/fields?apikey=42f95581f7bfa0656b85b24950232bb5", postData, function (result) {
                console.log(result);
            });
            // $.ajax({
            //     url: "https://sinnoxkw.ladesk.com/api/conversations/090845c2/fields",
            //     method: "POST",
            //     data: postData,
            //     headers: {
            //         'Access-Control-Allow-Origin': '*'
            //     },
            //     success: function (result) {
            //         console.log(result);
            //     }
            // });
        });

        $(document).ready(function () {
            $.ajax({
                url: "https://sinnoxkw.ladesk.com/api/v3/tickets?_page=1&_perPage=5000&_sortDir=ASC&apikey=42f95581f7bfa0656b85b24950232bb5",
                method: "GET",
                success: function (result) {
                    $("#data-table").DataTable({
                        order: [[1, "desc"]],
                        oLanguage: {
                            sProcessing: '<button class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>'
                        },
                        processing: true,
                        data: result,
                        columns: [
                            { data: 'subject' },
                            { data: 'date_created' }
                        ],
                        columnDefs: [
                            {
                                "targets": 0,
                                "render": function (data, type, row) {
                                    return '<a data-toggle="modal" data-id="' + row.id + '" data-subject="' + row.subject + '" id="edit"' + row.id + '  value="' + row.id + '" href="#myModal" class="open-Model" >' + row.subject + '</a>';
                                }
                            }
                        ]
                    });
                }
            });
        });

    </script>
}